{% load omfilters %}

<nav class="navbar navbar-dark bg-success navbar-expand-lg" >
    <img src="/static/assets/icons/favicon.png"  width="70" height="60"  class="d-inline-block align-top" style="margin-right:15px";>
    <a class="navbar-brand" href="{% url 'produto:index' %}">Geek Games</a>
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"-->
<!--        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--        <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="navbar-brand" href="{% url 'produto:index' %}">Pagina inicial</a>
            </li>
            <li class="nav-item">
                <a class="navbar-brand" href="{% url 'post:lista' %}">Posts</a>
            </li>
            <li class="nav-item">
                <a class="navbar-brand " href="{% url 'console:lista' %}">Consoles</a>
            </li>
            <li class="nav-item">
                <a class="navbar-brand" href="{% url 'produto:lista' %}">Games</a>
            </li>
            <li class="nav-item">
                <a class="navbar-brand" href="{% url 'funko:lista' %}">Funkos</a>
            </li>
            <li class="nav-item">
                    <a class="navbar-brand" href="{% url 'revista:lista' %}">Quadrinhos</a>
            </li>
            <li class="nav-item dropdown">
                <a class="navbar-brand dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Conta
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'pedido:lista' %}">Meus pedidos</a>
                    <a class="dropdown-item" href="{% url 'perfil:criar' %}">Atualizar meus dados</a>
                    <a class="dropdown-item" href="{% url 'perfil:logout' %}">Sair</a>
                </div>
            </li>

            {% else %}
            <li class="nav-item">
                <a class="navbar-brand" href="{% url 'produto:index' %}">Pagina inicial</a>
            </li>
            <li class="nav-item">
                <a class="navbar-brand" href="{% url 'post:lista' %}">Posts</a>
            </li>
             <li class="nav-item">
                <a class="navbar-brand" href="{% url 'console:lista' %}">Consoles</a>
            </li>
            <li class="nav-item">
                <a class="navbar-brand" href="{% url 'produto:lista' %}">Games</a>
            </li>
            <li class="nav-item">
                <a class="navbar-brand" href="{% url 'funko:lista' %}">Funkos</a>
            </li>
            <li class="nav-item">
                    <a class="navbar-brand" href="{% url 'revista:lista' %}">Quadrinhos</a>
            </li>
            <li class="nav-item">
                    <a class="navbar-brand" href="{% url 'perfil:criar' %}">Conta</a>
            </li>
            {% endif %}

            {% if request.session.carrinho %}
            {% if request.user.is_authenticated %}

            <li class="nav-item">
                <a class="nav-link nav-cart-link active" href="{% url 'produto:carrinho' %}">
                    <span class="nav-cart-text mr-1">
                        Carrinho
                    </span>
                    <span class="nav-cart-count mr-1">
                        <strong>{{ request.session.carrinho|cart_total_qtd }}x</strong>
                    </span>
                    <span class="nav-cart-icon mr-2">
                        <i class="fas fa-shopping-cart"></i>
                    </span>
                </a>
            </li>
            {% endif %}
            {% endif %}


        </ul>
    </div>
</nav>