{% extends 'base.html' %}
{% load omfilters %}

{% block titulo %}Consoles | {% endblock %}

{% block conteudo %}
<div class="row">
    <div class="col-sm-12">
        <div class="card-columns">

            {% for console in consoles %}

            <div class="card" >

                {% if console.imagem %}
                <a href="{% url 'console:detalhe' console.slug %}">
                    <img class="card-img-top" src="{{ console.imagem.url }}" alt="{{ console.nome }}"">
                </a>
                {% endif %}

                <div class="card-body">
                    <h5 class="card-title">{{ console.nome }}</h5>
                    <p class="card-text">{{ console.descricao_curta }}</p>
                    <div class="container product-price-block text-center">

                        {% if console.preco_marketing_promocional %}
                        <span class="product-price">
                            {{ console.preco_marketing_promocional|formata_preco }}
                        </span>
                        <span class="product-old-price text-muted">
                            {{ console.preco_marketing|formata_preco }}
                        </span>
                        {% else %}
                        <span class="product-price">
                            {{ console.preco_marketing|formata_preco }}
                        </span>
                        {% endif %}

                    </div>
                </div>
                <div class="card-footer bg-transparent border-top-light-custom text-center">
                    <a href="{% url 'console:detalhe' console.slug %}" class="btn btn-success btn-sm m-1 btn-block">
                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        Comprar
                    </a>
                </div>
            </div>

            {% endfor %}





        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col">
        {% include 'parciais/_pagination.html' %}
    </div>
</div>

{% endblock %}